<nav>
  <ul>
    <li><%= button_to t('views.actions.logout'), destroy_user_session_path, method: :delete %></li>
    <li><%= link_to t('views.actions.edit_account'), edit_user_registration_path %></li>
    <li><%= link_to t('views.actions.show_users_list'), users_path %></li>
  </ul>
</nav>
<h1>Books</h1>

<div id="books">
  <% @books.each do |book| %>
    <%= render book %>
    <p>
      <%= link_to t('views.actions.show_this_book'), book %>
    </p>
  <% end %>
</div>

<%= link_to t('views.actions.new_book'), new_book_path %>
