<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to t('views.generals.edit_this_book'), edit_book_path(@book) %> |
  <%= link_to t('views.generals.back_to_books'), books_path %>

  <%= button_to t('views.generals.destroy_this_book'), @book, method: :delete %>
</div>
